# Exploring DREAM3 dataset

Third annual DREAM challenge (DREAM3) (2008), a gene expression
prediction challenge.

The original challenge was to predict a block 
of missing data. Here we use the same dataset 
for a different purpose: to discover a gene regulatory
network for yeast

yeast (saccharomyces cerevisiae) About 6,000 genes 

ecoli has 5,000 genes 
but is a prokaryote. yeast is an eukaryote, like plants, and humans

humans ~ 21,000 genes 

fruit flies (drosophila) ~ 14,000 genes

GAT1, GCN4 and LEU3 are TFs (Transcription Factors, i.e.,  proteins that latch onto a DNA segment)

4 yeast strains
1. wild type (wt) 
2. GAT1 deletion strain (gat1$\Delta$)
3. GCN4 deletion strain (gcn4$\Delta$) 
4. LEU3 deletion strain (leu3$\Delta$)

time course (8 times): 
T= 0, 10, 20, 30, 45, 60, 90 and 120 minutes

T: time since added 3-aminotriazole (3AT), which is an
inhibitor of an enzyme in the histidine biosynthesis pathway.
No 3AT at T=0

data: expression levels for these 4 different strains of yeast, with missing data

missing data: for gat1$\Delta1$ strain, block of data of shape 50 by 8 (50 genes and 8 times).

The dataset contains 9,335 rows even though yeast have ~ 6,000 genes. The reason for 
9,335 is explained in misc/Affymetric-microarray.md

The dataset contains 35 columns: (4 strains) X (8 times) + 3 = 35

The 3 extra columns are:
1. probeID
2. geneName
3. L0,  expression level (arbitrary units) for probeID of parental strain at t=0

The other columns are log_2(L/L0) where L is the expression level 

slots for missing data have been filled with "PREDICT" string


Refs.
-----

https://dreamchallenges.org/dream-3-gene-expression-prediction/

https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0008944

https://github.com/s-nakhawa/DREAM3-Gene-Expression-Prediction-Challenge

https://en.wikipedia.org/wiki/DREAM_Challenges

In [1]:
# this makes sure it starts looking for things from the project folder down.
import os
import sys
os.chdir('../')
sys.path.insert(0,os.getcwd())
print(os.getcwd())

C:\Users\rrtuc\Desktop\backed-up\python-projects\gene_causal_mapper

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/DREAM3_GeneExpressionChallenge_ExpressionData_UPDATED.txt', sep='\t')

In [7]:
print(df.shape)
df.head(20)

(9335, 35)

,ProbeID,geneName,"absolute expression, parental strain t=0 (arbitrary units)",wt t=0,wt t=10,wt t=20,wt t=30,wt t=45,wt t=60,wt t=90,...,gcn4-deletion t=90,gcn4-deletion t=120,leu3-deletion t=0,leu3-deletion t=10,leu3-deletion t=20,leu3-deletion t=30,leu3-deletion t=45,leu3-deletion t=60,leu3-deletion t=90,leu3-deletion t=120
0,10000_at,NaN,0.194,0,0.080088,-0.021480,-0.207893,0.070967,-0.066261,-0.063503,...,0.081614,-0.079975,-0.185232,-0.205393,-0.071763,-0.060739,0.000000,0.042457,-0.146655,-0.246104
1,10001_at,MID2,1.480,0,-0.466758,-0.376290,-0.619178,-0.199123,-0.107018,-0.142740,...,0.302226,-0.147958,-0.149259,-0.382944,0.182786,-0.007196,0.020340,-0.052416,0.074001,0.187707
2,10002_i_at,NaN,13.960,0,-0.312665,-0.146655,-0.640621,-0.097611,-0.200379,-0.304511,...,-0.478195,-0.610700,-0.385155,-0.590722,-0.319618,-0.109695,-0.468844,-0.442545,-0.284514,-0.356144
3,10003_f_at,RPS25B,132.600,0,-0.182692,-0.105678,-0.447844,-0.119024,-0.167358,-0.244887,...,-0.302173,-0.473008,-0.284514,-0.492622,-0.358396,-0.404903,-0.499782,-0.343692,-0.263034,-0.376290
4,10004_at,NaN,0.148,0,0.164884,0.182786,0.186065,0.103147,0.129734,0.107803,...,0.112475,0.349235,0.036526,0.013043,-0.005759,0.057392,0.052895,0.163268,-0.024320,-0.064883
5,10005_at,NUP2,3.830,0,-0.238787,-0.140124,-0.804880,-0.153157,-0.164786,-0.358396,...,-0.128293,-0.599318,0.005782,-0.059355,0.239566,-0.062122,0.054392,-0.150560,0.128156,0.101598
6,10006_at,SGD1,1.125,0,0.543720,-0.178874,-0.718964,-0.052416,-0.209141,-0.178874,...,-0.303342,-0.321928,-0.439357,-0.246104,-0.147958,-0.112367,-0.241230,-0.242450,-0.197865,-0.331132
7,10007_at,VRP1,2.045,0,0.011588,-0.132248,-0.120352,-0.166073,-0.257011,-0.442545,...,-0.473008,-0.590722,-0.316146,0.078564,0.220950,-0.543991,0.018878,-0.489543,-0.266637,-0.097611
8,10008_at,NaN,0.346,0,0.163268,0.205896,0.537424,0.186065,0.177882,0.080088,...,0.058894,0.246395,-0.142740,-0.166073,-0.097611,-0.008630,0.036526,0.030619,-0.160920,-0.053806
9,10009_at,NaN,0.926,0,0.438307,0.160040,0.272297,0.352916,0.312939,-0.191563,...,-0.018634,-0.230203,0.189351,-0.078610,-0.073135,-0.073135,-0.053806,0.305788,0.110916,-0.052416
10,10010_at,ATP14,7.689,0,-0.364012,-0.834307,-1.027154,-0.292782,-0.253384,-0.360645,...,0.067939,-0.313826,-0.172488,-0.411426,-0.490570,-0.401630,-0.421156,-0.253384,-0.448901,-0.480265
11,10011_at,NaN,0.162,0,0.182786,0.103147,0.172994,0.120294,0.100051,0.067939,...,-0.012926,-0.002883,0.045431,0.018878,0.140826,-0.028569,-0.010064,-0.024320,0.030619,-0.186501
12,10012_at,NaN,0.859,0,-1.480782,-1.623399,-1.740712,-1.308011,-1.276199,-0.912267,...,-0.529071,-0.681674,0.962969,-0.741575,-0.397255,-0.273814,-0.014355,0.325539,-0.097611,-0.236340
13,10013_at,YHC1,1.015,0,0.187707,-0.124328,-0.606916,-0.182692,-0.149259,-0.192825,...,0.038006,-0.008630,-0.001442,0.107803,-0.237564,0.090803,-0.176323,-0.005759,0.080088,0.186065
14,10014_at,ECM38,2.889,0,-0.723340,-0.523060,-0.387363,-0.361768,-0.668119,-0.737254,...,-0.325386,-0.804054,0.526992,-0.140124,0.058894,-0.457332,-0.067639,-0.489543,-0.273814,-0.220330
15,10015_at,EXG1,22.200,0,-0.763836,-0.545968,-0.973060,-0.909197,-0.801573,-0.757877,...,0.114035,-0.695994,0.120294,-0.160920,0.018878,-0.292782,-0.028569,-0.136191,-0.146655,0.131313
16,10016_at,NaN,13.550,0,-0.164786,-0.112367,-0.609755,-0.021480,-0.089498,-0.137504,...,-0.048236,-0.244887,-0.117695,-0.104337,-0.202888,0.004335,-0.224040,0.030619,0.026205,-0.039840
17,10017_at,NaN,0.240,0,0.032094,-0.027154,0.131313,0.174621,-0.067639,-0.066261,...,-0.169925,0.358454,-0.236340,-0.162210,-0.085425,-0.044044,-0.012926,-0.034216,-0.227741,-0.088142
18,10018_at,MET17,0.230,0,-0.037031,0.222633,0.246395,0.172994,-0.064883,-0.046840,...,-0.296311,0.318326,-0.201634,-0.227741,-0.130931,-0.202888,-0.337996,-0.147958,-0.329985,-0.264236
19,10019_at,ACO1,29.500,0,-1.614003,-1.731618,-1.599318,-0.495695,-0.323082,-0.756169,...,-0.201634,-1.482332,-0.319618,-0.941858,-0.190299,-0.371838,-0.157044,-0.432959,-0.562670,-0.852798

In [5]:
df_gold = pd.read_csv('data/DREAM3GoldStandard_ExpressionChallenge.txt', sep='\t')

In [6]:
print(df_gold.shape)
df_gold.head()

(50, 10)

,probeID,gene_name,rank_time0,rank_time10,rank_time20,rank_time30,rank_time45,rank_time60,rank_time90,rank_time120
0,5646_at,ALD5,32,24,40,33,32,32,38,34
1,8593_at,ARG1,9,19,16,27,46,44,26,28
2,11114_at,ARG3,3,10,26,42,47,41,22,33
3,4537_at,ARG4,19,17,22,40,44,46,31,35
4,4568_at,ARN1,20,27,24,14,12,11,10,16